
div .cell{
border:1px solid grey;
width: 16px;
height: 16px;
clear: none;
display: table-cell;
}
div .row{

}
pre {
width:100%;
height:100%;
border: 1px solid grey;
}
#command_buttons{

background-color:white;
}

.image{
width:100%;
height:100%;
} 

.image-unknown{
  background-image: url("../images/empty.bmp");
  width:100%;
height:100%;
}

.image-lift{
  width:100%;
height:100%;
  background-image: url("../images/lift.bmp");
}

  
  .image-miner{
    width:100%;
height:100%;
 background-image: url("../images/miner.bmp");
  }
  
  .image-lambda{
  width:100%;
height:100%;
  background-image: url("../images/lambda.bmp");
  }
.image-ground{
width:100%;
height:100%;
 background-image: url("../images/earth.bmp");
  }
.image-opened-lift{
width:100%;
height:100%;
 background-image: url("../images/openlift.bmp");
  }  
.image-wall{
width:100%;
height:100%;
  background-image: url("../images/bricks.bmp");
  }
.image-rock{
width:100%;
height:100%;
  background-image: url("../images/rock.bmp");
  }
  
  .generator_container{
  width:auto;
  height:auto;
  }